*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


.time{
	position:fixed;
	top:20px;
	right:20px;

	display: inline-block;
}

#time-actual{
	display:block;
}

.container{
	width: 50%;
	margin: auto;
}

.holiday{
	color:red;
}

header {
	margin:50px 0;
	text-transform: capitalize;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

